.FoodModal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(29, 53, 87, 0.8);
  color: #f1faee;
  z-index: 300;
}

.FoodModalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 25px;
}

.FoodModalContent h2 {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 12px 0 10px;
}

.LoadingMessage {
  margin-top: 15px;
}

.FoodIcon {
  font-size: 8rem;
  color: rgb(235, 90, 69);
}

.Divider {
  width: 100%;
  background-color: white;
}

.RewardArea {
  margin-top: 40px;
}
