.HeroArea {
  display: flex;
  flex-direction: column;
}

.HeroAttributesWrapper {
  background-color: #a8dadc;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
